doctype html
include head
body
  br
  .container
    .display-1.mb-3|trackerTimer
    .jumbotron.p-5.align-left(id='jumbotron')
      form.form-group
        label|URL
        input.form-control(
          type='text',
          id='url',
          value=url,
          disabled
        )
  .container-fluid(
    id='loading'
  )
    .container
      .progress-bar.progress-bar-striped.progress-bar-animated
      br
      .display-4
        |&#9201; Generating report ...
include scripts
script(src='url.js')
